<section class="lr-pads tb-pads">
  <div class="is-size-3">Edit Map</div>
</section>

<section class="lr-pads tb-pads">
<!-- begin top row -->
  <div class="container is-fluid columns level">
    <div class="column level-item">
      <div id="human-content" >
        <iframe 
          id="embeddedHuman" 
          src="https://human.biodigital.com/widget?<%= @widgetId%>&dk=7c93e81cdef1f39018ed9ab3d8359f4f88835131"
        >
        </iframe>
      </div>
    </div>
    <div class="column box">
    <%= form_for @map do |m| %>
      <div>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <%= m.text_field :name, class: "input" %>
          </div>
        </div>
        <div class="field">
          <label class="label">Body System</label>
          <div class="control">
            <%= @map.bodySystem %>
          </div>
        </div>
        <div class="field">
          <label class="label">Summary</label>
          <div class="control">
            <%= m.text_area :summary, class: "textarea", placeholder: "This will be displayed at the top of the student page" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- next row -->
  <div class="container is-fluid">
      <div class="box">
        <div class="field">
          <label class="label">Article</label>
          <div class="control">
            <%= m.text_area :article, class: "textarea", placeholder: "This is the content of the student page" %>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Submit</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<hr>



<section class="lr-pads tb-pads newAnnotationsPartial">
  <p>Create New Annotation</p>
  <div class="container is-fluid">
    <%= form_for Annotation.new do |a| %>
      <%= a.hidden_field :map_id, :value => @map.id %>
      <!-- eventually a dropdown for object id -->
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <%=a.select(:title, @organs.collect {|w| [ w.name ] },class: "select") %>
        </div>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <%= a.text_area :description, class: "textarea", placeholder: "This will be displayed on the 3d model when the object is selected" %>
        </div>
      </div>
      <div class="field">
        <label class="label">Link</label>
        <div class="control">
          <%= a.text_field :link, class: "input", placeholder: "Add an extra resource" %>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit" id="submitNewAnnotation">Submit</button>
        </div>
      </div>
    <% end %>
  </div>
</section>

<hr>
<p>List of annotations</p>

<div id="annotationsPartial">
<%= render 'annotations/index', map: @map%>
</div>

<!-- To show preview of 3d model -->

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://developer.biodigital.com/builds/human-components/1.0.0/js/human-components.min.js"></script>
<script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>

<script>



var human = new HumanAPI("embeddedHuman");

//THIS SHIT WORKS YES...I mean it gets the object data shown in the model
// human.send("scene.info", function (data) {
//     console.log(JSON.stringify(data));
// });

//configures and enables the tools in the 3d model
var displayConfig = { 
  objectTree: true, 
  info: true, 
  tools :true, 
  zoomIn: false, 
  zoomOut: false,
};

human.send("ui.setDisplay", displayConfig);
</script>



