<!-- summary and buttons -->
<section class="section killThePad lr-margin tb-margin">
  <div class="container is-fluid box">
    <div class="annotationButtons columns level">
      <div class="column is-one-fifth-desktop is-one-fifth-tablet click">
        Click to Interact
      </div>
      <div class="column">
        <% @annotations.each do |a| %>
          <button 
            class="button interact miniMargin" 
            data-title="<%= a.title %>"
            data-description="<%= a.description %>"
          ><%= a.title %>    
          </button>
        <%end%>
      </div>
    </div>
  </div>
</section>

<!-- widget -->
<section class="section columns killThePad lr-margin center">
  <div class="container column is-half-desktop is-half-tablet lr-padNudge">
    <div id="human-content" class="inline-block">
      <iframe id="embeddedHuman" class="showHuman box" src="https://human.biodigital.com/widget?<%= @widgetContentId%>&dk=7c93e81cdef1f39018ed9ab3d8359f4f88835131">
      </iframe>
    </div>
  </div>
  <div class="container column is-half-desktop is-half-tablet lr-pads articleText">
    <div class="summary">
      <div class="padR left is-size-4 tb-nudge">Summary:</div> 
      <div class="padR has-text-justified">
        <%= @map.summary %>
      <div>
    <div class="article">
      <div class="padR left is-size-4 tb-nudge">Article:</div> 
      <div class="padR has-text-justified" data-scantext data-target="embeddedHuman"><%= @map.article.html_safe %><div>
    </div>
  </div>
</section>


<!-- necessary scripts to manipulate widget -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://developer.biodigital.com/builds/human-components/1.0.0/js/human-components.min.js"></script>
<script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>

<!-- //custom script -->
<script>
var human = new HumanAPI("embeddedHuman");

var toStrip = "";

$('#embeddedHuman').scanner({
  toStrip: toStrip , 
  formatData: 'focus'
});

$('#embeddedHuman').scanner();


human.on("human.ready", function() {
    setTimeout(function(){ 
      $('.anatomy-object').addClass('button is-small'); 
    }, 500);
    
}); 



//hide visible annotations
human.send('annotations.info',function(annotations){
  for (var property in annotations) {
    if (annotations.hasOwnProperty(property)) {
      human.send('annotations.destroy',property)
    }
  }
});







//THIS SHIT WORKS YES...I mean it gets the object data shown in the model
//   human.send("scene.info", function (data) {
//     console.log(JSON.stringify(data));
// });

//configures and enables the tools in the 3d model
var displayConfig = { 
  objectTree: true, 
  info: true, 
  tools :true, 
  zoomIn: false, 
  zoomOut: false,
};

human.send("ui.setDisplay", displayConfig);
human.on( 'scene.xrayEnabled');


//configures interactions
var organs = gon.organs;
var selection = "";
var description = "";
var object = "";
var activeAnnotation = "";

// gets info about the object that's selected
$('.interact').click(function(e){
  selection = $(this).attr('data-title');
  description = $(this).attr('data-description');
  object = getObjectId(selection);


  //formatting for selectObjects
  var objectMap = {}
  var key = `${object}`;
  objectMap[key] = true;
	
  //settings for widget window...available tools, etc.
  human.send( 'camera.set' , {
    objectId: object,
    animate: true,
    animationDuration: 1.0,
    animationStyle: 'around'
  })
  //selects object that user clicks
  human.send('scene.selectObjects',objectMap)
	human.send( 'camera.zoom' , .9)



  //clear previously created annotation
  human.send("annotations.destroy", activeAnnotation);
  //adds user annotation
  human.send("annotations.create", {
    title: selection,
    description: description,
    objectId: object
  },function(annotation){
    activeAnnotation = annotation;
    human.send('annotation.show',annotation)
  });
});

var getObjectId = function(name){
  var obId = ""
  for (var i=0; i<organs.length;i++){
    if(organs[i].name===name){
      obId = organs[i].objectId;
    }
  }
  return obId
}

</script>
