<!-- widget -->
<section class="section">
  <div class="container is-fluid">
    <div id="human-content">
      <iframe id="embeddedHuman" src="https://human.biodigital.com/widget?<%= @widgetContentId%>&dk=7c93e81cdef1f39018ed9ab3d8359f4f88835131">
      </iframe>
    </div>
  </div>
</section>

<!-- summary and buttons -->
<section class="section">
  <div class="container is-fluid">
    <div class="summary">Summary: <%= @map.summary %><div>
    <div class="annotationButtons">
      <div>Click to Interact<div>
      <% @annotations.each do |a| %>
        <button 
          class="button interact" 
          data-title="<%= a.title %>"
          data-description="<%= a.description %>"
        ><%= a.title %>    
        </button>
      <%end%>
    <div>
  </div>
</section>

<!-- article -->
<section class="section">
  <div class="container is-fluid">
    <div class="article">Article: <%= @map.article %><div>
  </div>
</section>

<!-- necessary scripts to manipulate widget -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://developer.biodigital.com/builds/human-components/1.0.0/js/human-components.min.js"></script>
<script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>

<!-- //custom script -->
<script>
var human = new HumanAPI("embeddedHuman");


//THIS SHIT WORKS YES...I mean it gets the object data shown in the model
//   human.send("scene.info", function (data) {
//     console.log(JSON.stringify(data));
// });

//configures and enables the tools in the 3d model
var displayConfig = { 
  objectTree: true, 
  info: true, 
  tools :true, 
  zoomIn: false, 
  zoomOut: false,
};

human.send("ui.setDisplay", displayConfig);
human.on( 'scene.xrayEnabled')
//configures interactions
var organs = gon.organs;
var selection = "";
var description = "";
var object = "";
var activeAnnotation = "";

// gets info about the object that's selected
$('.interact').click(function(e){
  selection = $(this).attr('data-title');
  description = $(this).attr('data-description');
  object = getObjectId(selection);


  //formatting for selectObjects
  var objectMap = {}
  var key = `${object}`;
  objectMap[key] = true;
	
  //settings for widget window...available tools, etc.
  human.send( 'camera.set' , {
    objectId: object,
    animate: true,
    animationDuration: 1.0,
    animationStyle: 'around'
  })
  //selects object that user clicks
  human.send('scene.selectObjects',objectMap)
	human.send( 'camera.zoom' , .9)

  //clear previous annotation
  human.send("annotations.destroy", activeAnnotation);
  //adds user annotation
  human.send("annotations.create", {
    title: selection,
    description: description,
    objectId: object
  },function(annotation){
    activeAnnotation = annotation;
  });
});

var getObjectId = function(name){
  var obId = ""
  for (var i=0; i<organs.length;i++){
    if(organs[i].name===name){
      obId = organs[i].objectId;
    }
  }
  return obId
}

</script>
