<section class="section">
	<div class="container is-fluid columns">
		<div class="column level center is-half-desktop is-half-tablet">
			<div class="box lr-margin">
				<img 
					src="<%= @user.img_url %>" 
					class="homePhoto level-item box"
				></img>
				<p class="is-size-4">Welcome <span class="nowrap"><%= @user.name %>!</span></p>
				<p class="is-size-5 tb-margin">You have <%= @map_count %> Maps</p>
				<%= link_to "+ New Map", new_map_path, class: "button" %>
			</div>
		</div>
		<div class="column level center is-half-desktop is-half-tablet">
			<%= render 'maps/index'%>
		</div>
	</div>
</section>

<!-- add modal to edit bio -->


